$--blue-1: #023365;
$--blue-2: #0052a7;
$--blue-3: #061b40;
$--blue-4: #0b234d;
$--blue-5: #1e4976;
$--blue-grey: #606c81;
$--grey: #aab2ba;
$--grey-2: #a9a9a9;
$--red: #eb001b;
$--white: #ffffff;
$--white-2: #f5f7f9;
$--white-3: #e9edf2;
