.s-home {
  width: 100vw;
  padding: 16px 16px 228px 16px;
}

.s-home-container-one {
  min-height: 312px;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  overflow-y: hidden;
}

.s-home-container-one-video-block {
  margin-top: -9px;
  position: relative;
  // padding-bottom: 56.25%; /* 16:9 */
  padding-bottom: 60%;
  padding-top: 0px;
  height: 0;

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.s-home-container-one-block-one {
  min-height: 124px;
  display: flex;
  width: 100%;
  padding: 20px 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  border-radius: 12px;
  background: $--blue-4;
  z-index: 1;
}

.s-home-container-one-block-one-layer-one {
  width: 100%;
  height: 36px;
  display: flex;
  justify-content: space-between;
}

.s-home-container-one-block-one-layer-two {
  // margin-top: 12px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.s-home-container-one-settings {
  display: flex;
  width: 36px;
  height: 36px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 100px;
  background: $--blue-2;

  .ph {
    filter: invert(1);
    font-size: 20px;
  }
}

.s-home-spa-select-container {
  min-width: 252px;
  flex-grow: 1;
}

.s-home-container-two {
  margin-top: 28px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.s-home-container-two-column-one {
  width: 84px;
  height: 160px;
  border-radius: 8px;

  & img {
    width: 84px;
    height: 160px;
  }
}

.s-home-container-two-column-two {
  width: 140px;
  height: 160px;
  border-radius: 8px;

  & img {
    width: 140px;
    height: 160px;
  }
}

.s-home-container-two-column-three {
  width: 84px;
  height: 160px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .s-home-container-two-column-three-block-one,
  .s-home-container-two-column-three-block-two {
    width: 84px;
    height: 76px;
  }

  & img {
    width: 84px;
    height: 76px;
  }
}

.s-home-container-two-column-one,
.s-home-container-two-column-two,
.s-home-container-two-column-three-block-one,
.s-home-container-two-column-three-block-two {
  position: relative;
}

.s-home-container-two-column-title {
  position: absolute;
  left: 8px;
  bottom: 8px;
  color: #fff;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
  text-transform: capitalize;
}

.s-home-venue-card {
  width: 100%;
  margin-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 12px;
  background: $--grey-3;
}

.s-home-venue-card-img-container {
  height: 246px;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
}

.s-home-venue-card-img {
  height: 246px;
  width: 100%;
  overflow: hidden;
  border-radius: 12px 12px 0 0;
}

.s-home-venue-card-main {
  width: 100%;
  padding: 16px 16px 0 16px;
}

.s-home-venue-card-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.s-home-venue-card-title {
  color: $--blue-3;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.28px;
  width: 228px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.s-home-venue-card-rating-container {
  display: flex;
  align-items: center;

  .s-home-venue-card-rating {
    padding-right: 4px;
    color: $--blue-3;
    text-align: right;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
  }

  .s-home-venue-card-rating-icon-container {
    height: 20px;
    width: 20px;

    .ph {
      font-size: 18px;
      margin: auto 0;
    }
  }
}

.s-home-venue-card-address-line {
  width: 228px;
  overflow: hidden;
  color: $--blue-grey;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.s-home-venue-card-lower-line {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 40px;
}

.s-home-venue-card-lower-line-guest-amount {
  display: flex;
  min-width: 24px;
  padding: 4px 10px;
  justify-content: center;
  align-items: center;
  height: 24px;
  border-radius: 12px;
  background-color: #f7fafc;
  overflow: hidden;
  color: $--blue-grey;
  text-align: center;
  text-overflow: ellipsis;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
}

.s-home-venue-card-lower-line-price-container {
  display: flex;
  align-items: center;
}

.s-home-venue-card-lower-line-price-from {
  color: $--blue-grey;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}

.s-home-venue-card-lower-line-price-value {
  color: #202f40;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  margin-left: 8px;
}

.s-home-venue-line-card {
  width: 100%;
  height: 88px;
  display: flex;
  padding-right: 12px;
  align-items: center;
  border-radius: 8px;
  background: #e9edf2;
  margin-top: 12px;

  .s-home-venue-line-card-photo {
    width: 68px;
    height: 88px;
    flex-shrink: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px;
  }

  .s-home-venue-line-card-main {
    padding: 8px 0 8px 12px;
    width: 100%;
    height: 88px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .s-home-venue-line-card-header {
    display: flex;
    justify-content: space-between;
    width: 100%;

    .s-home-venue-card-rating-container {
      width: 48px;
      height: 20px;

      .s-home-venue-card-rating {
        color: $--blue-3;
        text-align: right;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 20px;
      }

      .s-home-venue-card-rating-icon-container {
        width: 16px;
        height: 16px;
      }
    }
  }

  .s-home-venue-line-card-title {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    color: $--blue-3;
    text-overflow: ellipsis;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: -0.28px;
    width: 149px;
    height: 40px;
  }

  .s-home-venue-line-card-bottom {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .s-home-venue-line-card-address {
    width: 132px;
    max-width: 132px;
    overflow: hidden;
    color: $--blue-grey;
    text-overflow: ellipsis;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    white-space: nowrap;
  }
}

.s-home-ad-details {
  width: 100%;
  border-radius: 12px;
  margin-top: 20px;
  background: $--blue-4;
  padding: 20px 16px 36px 16px;
  position: relative;
  overflow: hidden;
}

.s-home-ad-details-title {
  color: #fff;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: 28px;
  letter-spacing: -0.5px;
  max-width: 256px;
}

.s-home-ad-details-description {
  color: $--grey-3;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  margin-top: 4px;
  max-width: 256px;
}

.s-home-ad-details-button {
  // margin-right: 34px;
  margin-top: 24px;
  display: flex;
  height: 36px;
  padding: 10px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 100px;
  background: #56e2f1;
  position: relative;

  &:hover,
  &:focus,
  &:active,
  &:target {
    filter: brightness(1.1);
    box-shadow: 0px 2px 12px 0px rgba(5, 89, 253, 0.1);
  }
}

.s-home-ad-details-button-circle {
  display: flex;
  width: 36px;
  height: 36px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 100px;
  background: #56e2f1;
  position: absolute;
  right: -34px;

  .ph.ph-drop {
    font-size: 20px;
    color: #011c38;
  }
}

.s-home-ad-details-button-label {
  color: #011c38;
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

div[class^='s-home-ad-details-circle'] {
  background-color: #3275a6;
  border-radius: 50%;
  position: absolute;
}

.s-home-ad-details-circle-1 {
  width: 10px;
  height: 10px;
  top: -1px;
  right: 51px;
}

.s-home-ad-details-circle-2 {
  width: 40px;
  height: 40px;
  top: -5px;
  right: -5px;
  display: flex;
  justify-content: center;
  align-items: center;

  .ph {
    font-size: 24px;
    transform: rotate(6.814deg);
    color: $--grey-3;
  }
}

.s-home-ad-details-circle-3 {
  width: 10px;
  height: 10px;
  top: 68px;
  right: 10px;
}

.s-home-ad-details-circle-4 {
  width: 32px;
  height: 32px;
  top: 114px;
  right: 5px;
  display: flex;
  justify-content: center;
  align-items: center;

  .ph {
    font-size: 16px;
    transform: rotate(-8.202deg);
    color: $--grey-3;
  }
}

span[class^='s-home-ad-details-line'] {
  position: absolute;
  width: 4.147px;
  bottom: 36px;
  border-radius: 50px;
}

.s-home-ad-details-line-1 {
  height: 15.01px;
  background-color: #fff;
  right: 82.35px;
}

.s-home-ad-details-line-2 {
  height: 20.212px;
  background-color: #56e2f1;
  right: 74.06px;
}

.s-home-ad-details-line-3 {
  height: 47px;
  background-color: #1c4994;
  right: 65.76px;
}

.s-home-ad-details-line-4 {
  height: 24.06px;
  background-color: #fff;
  right: 57.43px;
}

.s-home-ad-details-line-5 {
  height: 35.168px;
  background-color: #56e2f1;
  right: 49.18px;
}

.s-home-ad-details-line-6 {
  height: 8.294px;
  background-color: #1c4994;
  right: 40.88px;
}

.s-home-ad-details-line-7 {
  height: 15.01px;
  background-color: #fff;
  right: 32.59px;
}

.s-home-ad-details-line-8 {
  height: 20.212px;
  background-color: #56e2f1;
  right: 24.29px;
}

.s-home-ad-details-line-9 {
  height: 47px;
  background-color: #1c4994;
  right: 16px;
}

.s-home-promotion {
  display: flex;
  margin-left: -8px;
  width: calc(100vw - 24px);
  overflow-x: auto;
}

.s-home-pagination-container {
  margin-top: 16px;
  margin-bottom: 28px;
}

.s-home-reliability {
  height: 228px;
  width: calc(100vw - 32px);
  margin-top: 28px;
  padding: 24px 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 12px;
  background: $--grey-3;
  position: relative;
  overflow: hidden;
}

.s-home-reliability-title {
  color: $--blue-3;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.36px;
  z-index: 1;
}

.s-home-reliability-text {
  margin-top: 12px;
  color: $--blue-grey;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  z-index: 1;
}

.s-home-reliability-btn-container {
  margin-top: 24px;
  z-index: 1;
}

.s-home-reliability-background {
  position: absolute;
  top: -16px;
  left: -18px;
}

.s-home-container-two-column-selected {
  filter: brightness(1.5);
  border-radius: 8px;
  outline-style: solid;
  outline-color: $--blue-2;
  outline-width: 3px;
}
