.s-profile-contact-details-empty-input {
  align-items: flex-end;
  display: flex;
  font-size: 0.75rem;
  font-weight: 400;
  letter-spacing: 0.0333333333em;
  line-height: normal;
  min-height: 22px;
  padding-top: 6px;
  overflow: hidden;
  justify-content: space-between;
  padding-inline: 16px;
  color: $--red;
}
