.s-profile-avatar {
  margin: 16px 16px 16px 0;
  width: 328px;
  height: 120px;
  display: flex;
}

.s-profile-avatar-img-wrapper {
  min-width: 112px;
  min-height: 112px;
  width: 112px;
  height: 112px;
  display: flex;
  padding: 8px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background: $--grey-3;

  & i.ph-user-circle-dashed {
    font-size: 60px;
    flex-shrink: 0;
    color: $--blue-grey;
  }
}

.s-profile-avatar-btn {
  width: 171px;
  height: 32px;
  min-width: 36px;
  padding: 4px 8px;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  border: 1px solid #e1e6eb;
  background: #f7fafc;
}

.s-profile-avatar-btn {
  display: flex;
  justify-content: center;
}

.s-profile-avatar-right-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 8px;
}

.s-profile-avatar-description {
  color: $--blue-grey;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  padding: 8px 8px 0 0;
}

.s-profile-avatar-btn {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;

  & span {
    margin: 0 4px;
  }
  overflow: hidden;
  color: $--blue-3;
  text-overflow: ellipsis;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;

  &:hover,
  &:focus,
  &:active,
  &:target {
    filter: brightness(1.1);
    box-shadow: 0px 2px 12px 0px rgba(5, 89, 253, 0.1);
  }
}

.s-profile-avatar-btn-icon {
}

.s-profile-avatar-dialog {
  width: 100%;
  max-height: 90vh;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;

  .s-login-btn {
    margin-top: 16px;
  }
}

.s-profile-avatar-form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  .s-profile-avatar-form-input-container {
    width: 100%;
    flex-grow: 1;
    display: flex;
    align-items: center;
  }

  .v-field:not(.v-field--error):not(.v-field--disabled)
    .v-field__outline::after {
    border-color: $--blue-2 !important;
  }
}

.s-profile-avatar-cropper-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.s-profile-avatar-cropper-wrapper {
  width: 100%;
  height: 100%;
  display: inline-block;
}

.s-profile-avatar-img {
  border-radius: 4px;
  width: 104px;
  height: 104px;
}

.s-profile-avatar-crop-btn {
  color: #ffffff;
}
