.s-spa-select {
  width: 252px;

  .v-input__control {
    width: 252px;
  }

  .v-field__input {
    padding: 0;
    padding-left: 12px;

    & > input {
      width: 212px;
      overflow: hidden;
      color: #364759;
      text-overflow: ellipsis;
      font-family: Inter;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px;
    }

    .v-select__selection {
      .v-select__selection-text {
        color: #364759;
      }
    }
  }

  .s-spa-select-inner-icon {
    width: 16px;
    height: 16px;
    z-index: 1;

    .v-select__menu-icon {
      display: none;
    }
  }

  .v-field--appended {
    padding-inline-end: 12px;
  }

  .v-label.v-field-label.v-field-label--floating {
    display: none;
  }
}
