.s-tabs {
  display: flex;
  width: calc(100vw - 16px);
  overflow: auto;
  border-bottom: 1px solid $--grey-3;
}

.s-tab {
  height: 36px;
  padding: 6px 8px;
  color: $--blue-grey;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-left: 8px;
  border-bottom: 2px solid transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
}

.s-tab:first-child {
  margin-left: 0;
}

.s-tab-selected {
  border-radius: 8px 8px 0px 0px;
  border-bottom: 2px solid $--blue-1;
  background: $--grey-3;
  color: $--blue-3;
}
